<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>mywebAppName</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>hello</servlet-name>
		<jsp-file>/Resources/jsp/hello.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>counter</servlet-name>
		<jsp-file>/Resources/jsp/counter.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>counter</servlet-name>
		<url-pattern>/counter.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>colorMe</servlet-name>
		<jsp-file>/Resources/jsp/colorMe.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>colorMe</servlet-name>
		<url-pattern>/colorMe.jsp</url-pattern>
	</servlet-mapping>

</web-app>